

<h1>@Html.Sitecore().Field("Name")</h1>

<span>@Html.Sitecore().Field("Designation")</span>
<span>@Html.Sitecore().Field("ContactNumber") </span>
<p>@Html.Sitecore().Field("ProfileBrief")</p>
<div>@Html.Sitecore().Field("ProfilePicture")</div>
