@model IEnumerable<AltudoBtc1.Project.Altudo.Models.LeadershipDetails>

<h2>Leaders:</h2>
@foreach (var leader in Model)
{
    <div>
        @leader.Name
    </div>
    <div>
        @leader.Designation
    </div>
    <div>
        @leader.ContactNumber
    </div>
    <div>
        @leader.ProfileBrief
    </div>
    <div>
        @leader.ProfilePicture
    </div>

    @*<div>
        <a href="@Model.SuggestedArticleUrl">@Model.SuggestedArticlText </a>
    </div>*@
}

